[submodule "arduino-core-tests"]
	path = tests/arduino-core-tests
	url = https://github.com/Infineon/arduino-core-tests.git
[submodule "cores/arduino-core-api"]
	path = cores/arduino-core-api
	url = https://github.com/arduino/ArduinoCore-API.git
