# vscode
.history
.vscode
.editorconfig

# build folder
pkg_build
build

# python
**/__pycache__/
venv/

# code-check standards and reports
misra.txt
clang-tidy-report.txt

scan-build-reports/

cppcheck_reports/
cppcheck.checkers
err.xml
