# vscode
.history
.vscode
.editorconfig

# build folder
pkg_build
build

# python
**/__pycache__/
venv/
myenv/

# code-check standards and reports
misra.txt
clang-tidy-report.txt

scan-build-reports/

cppcheck_reports/
cppcheck.checkers
err.xml

# Ignore docs build (Sphinx)
docs/build
docs/source/_build
_build/

# Arduino core api symlinked
cores/xmc/api