# vscode
.history
.vscode
.editorconfig

# build folder
pkg_build
build

# python
**/__pycache__/
venv/
myenv/

# code-check standards and reports
misra.txt
clang-tidy-report.txt

scan-build-reports/

cppcheck_reports/
cppcheck.checkers
err.xml

# Ignore docs build (Sphinx)
docs/build
docs/source/_build
__pycache__/
_build/

echo "libraries/SPI/src/SPI.cpp" >> .gitignore
echo "set_all_pins_input.ino" >> .gitignore
echo "src/" >> .gitignore
echo "tests/minimal_test.ino" >> .gitignore