# options:
#   USE_CORE:
#     name: infineon:xmc@3.5.0
#     url: https://github.com/Infineon/XMC-for-Arduino/releases/latest/download/package_infineon_index.json
options:
  USE_CORE:
    name: local
  SEND_JOB_START_TOKEN: true
#   # INCLUDE:
  #   - filename

compile:
    compile-xmc-kit_xmc47_relax:
      description: Compiling test_digitalio_single.cpp for XMC platform
      command: make -f Makefile.arduino.mk test_digitalio_single compile
      fqbns: [infineon:xmc:kit_xmc47_relax]
      working_dir: tests/arduino-core-tests

code-quality:
    source-code-quality-clang-tidy:
      description: clang-tidy check sources
      tool: clang-tidy
      command: extras/makers-devops/src/python/code_checks/run_clang_tidy.sh ./cores/xmc/* ./libraries/*

    source-code-quality-cppcheck:
      description: cppcheck check sources
      tool: cppcheck
      command: extras/makers-devops/src/python/code_checks/run_cppcheck.sh ./cores/xmc/* 
               | -I extras/arduino-core-api/api/ -I cores/xmc/xmc_lib/XMCLib/inc/ -I variants/XMC1400/config/KIT_XMC14_2GO
               | -I variants/XMC1400 -I cores/xmc/avr -I cores/xmc/usblib -I cores/xmc/xmc_lib/inc 
               | -I /cores/xmc
               | -i cores/xmc/xmc_lib/ -i cores/xmc/api/ --suppress=*:cores/xmc/xmc_lib/*
               | --suppress=*:extras/arduino-core-api/api/* --suppress=*:cores/xmc/api/*
    
#     test-code-quality-clang-tidy:
#       description: clang-tidy check tests
#       tool: clang-tidy
#       command: extras/makers-devops/tools/code_checks/run_clang_tidy.sh ./tests/arduino-core-tests/src/*

#     test-code-quality-cppcheck:
#       description: cppcheck check tests
#       tool: cppcheck
#       command: extras/makers-devops/tools/code_checks/run_cppcheck.sh ./tests/arduino-core-tests/src/*  
#                | -I extras/arduino-core-api/api/ -I variants/CY8CKIT-062S2-AI/mtb-bsp -I extras/mtb-libs/core-lib/include 
#                | -I libraries/WiFi/src -I libraries/Wire/src -I libraries/SPI/src -I extras/mtb-libs/mtb-hal-cat1/include
#                | -I extras/mtb-libs/wifi-connection-manager/include --suppress=*:extras/mtb-libs/wifi-connection-manager/include*
#                | -I tests/arduino-core-tests/Unity/src --suppress=*:tests/arduino-core-tests/Unity/src/*
#                | -I variants/CY8CKIT-062S2-AI -I cores/psoc6 --suppress=*:variants/CY8CKIT-062S2-AI/* --suppress=*:extras/mtb-libs/mtb-hal-cat1/include/*
#                | --suppress=*:extras/arduino-core-api/api/* --suppress=*:cores/psoc6/api/* --suppress=*:variants/CY8CKIT-062S2-AI/mtb-bsp/* --suppress=*:extras/mtb-libs/core-lib/include/*

#     code-quality-clang-format:
#       description: clang-tidy check sources
#       tool: clang-format
#       command: extras/makers-devops/tools/code_checks/run_clang_format.sh ./cores/psoc6/* ./libraries/*

#     code-quality-black-format:
#       description: clang-tidy check sources
#       tool: black-format
#       command: extras/makers-devops/tools/code_checks/run_black.sh ./extras/makers-devops/tools/* 



unit-test:
    unit-test-digital-io-4700:
      - description: Compiling, flashing and monitoring digital IO unit test.
        command: make test_digitalio_single
        query: digital_io_single_board == '1:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-tone-4700:
      - description: Compiling, flashing and monitoring tone, no-tone unit test.
        command: make test_tone_no_tone
        query: tone_no_tone_single_board == '1:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-interrupts-4700:
      - description: Compiling, flashing and monitoring Interrupts unit test.
        command: make test_interrupts_single
        query: interrupts_single_board == '1:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-random-4700:
      - description: Compiling, flashing and monitoring random unit test.
        command: make test_random
        query: random_single_board == '1:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-time-4700:
      - description: Compiling, flashing and monitoring timer unit test.
        command: make test_time_single
        query: time_single_board == '1:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-analog-io-pwm-4700:
      - description: Compiling, flashing and monitoring timer unit test.
        command: make test_analogio_pwm
        query: analogio_pwm_single_board == '1:1'
        working_dir: extras/arduino-core-tests
          
    unit-test-analog-io-adc-4700:
      - description: Compiling, flashing and monitoring ADC unit test.
        command: make test_analogio_adc
        query: analogio_adc_single_board == '1:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-analog-io-dac-4700:
      - description: Compiling, flashing and monitoring DAC unit test.
        command: make test_analogio_dac
        query: analogio_adc_single_board == '1:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-iic-4700:
      - description: Compiling, flashing and monitoring timer unit test.
        command: make test_wire_connected1_pingpong
        query: iic_ping_pong_single_board == '1:1'
        working_dir: extras/arduino-core-tests

    unit-test-iic-pingpong-4700:     
      - description: Compiling, flashing and monitoring I2C pingpong slave unit test.
        command: make test_wire_connected2_slavepingpong
        query: iic_ping_pong_multiple_boards_slave == '1:1'
        working_dir: extras/arduino-core-tests

      - description: Compiling, flashing and monitoring I2C pingpong master unit test.
        command: make test_wire_connected2_masterpingpong
        query: iic_ping_pong_multiple_boards_master == '1:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-uart-connected2-4700:
      - description: Compiling, flashing and monitoring uart rx unit test.
        command: make test_uart_connected2_rx ENABLE_SYNC=0
        query: uart_multiple_boards_rx == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          SEND_JOB_START_TOKEN: False

      - description: Compiling, flashing and monitoring uart tx unit test.
        command: make test_uart_connected2_tx ENABLE_SYNC=0
        query: uart_multiple_boards_tx == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          SEND_JOB_START_TOKEN: False
    
    unit-test-uart-4700:
      - description: Compiling, flashing and monitoring uart rx unit test.
        command: make test_uart_rx ENABLE_SYNC=0
        query: uart_multiple_boards_rx == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          SEND_JOB_START_TOKEN: False

      - description: Compiling, flashing and monitoring uart tx unit test.
        command: make test_uart_tx ENABLE_SYNC=0
        query: uart_multiple_boards_tx == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          SEND_JOB_START_TOKEN: False

    unit-test-pulse-4700:     
      - description: Compiling, flashing and monitoring pulse board1 unit test.
        command: make test_pulse_board1
        query: adv_io_pulse_board1  == '1:1'
        working_dir: extras/arduino-core-tests

      - description: Compiling, flashing and monitoring pulse board2 unit test.
        command: make test_pulse_board2
        query: adv_io_pulse_board2  == '1:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-spi-pingpong-4700:
      - description: Compiling, flashing and monitoring SPI pingpong slave unit test.
        command: make test_spi_connected2_slavepingpong
        query: spi_ping_pong_multiple_boards_slave == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          USE_CORE:
            name: infineon:psoc6@0.8.1
            url: https://github.com/Infineon/arduino-core-psoc6/releases/latest/download/package_psoc6_index.json

      - description: Compiling, flashing and monitoring SPI pingpong master unit test.
        command: make test_spi_connected2_masterpingpong
        query: spi_ping_pong_multiple_boards_master == '1:1'
        working_dir: extras/arduino-core-tests

    unit-test-spi-single-pingpong-4700:
      - description: Compiling, flasging and monitoring SPI pingpong single_board.
        command: make test_spi_connected1_loopback
        query: spi_ping_pong_single_board == '1:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-onewire-DS18x20-4700:
      - description: Compiling, flashing and monitoring OneWire sensor DS18B20 data.
        command: make test_onewire_DS18x20 
        query: onewire_DS18x20_board == '1:1'
        working_dir: extras/arduino-core-tests
############################# XMC1400_Arduino#########################################
    unit-test-digital-io-1400:
      - description: Compiling, flashing and monitoring digital IO unit test.
        command: make test_digitalio_single ENABLE_SYNC=0
        query: digital_io_single_board == '2:1'
        working_dir: extras/arduino-core-tests
        options:
          SEND_JOB_START_TOKEN: False
    
    unit-test-tone-1400:
      - description: Compiling, flashing and monitoring tone, no-tone unit test.
        command: make test_tone_no_tone
        query: tone_no_tone_single_board == '2:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-interrupts-1400:
      - description: Compiling, flashing and monitoring Interrupts unit test.
        command: make test_interrupts_single
        query: interrupts_single_board == '2:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-random-1400:
      - description: Compiling, flashing and monitoring random unit test.
        command: make test_random
        query: random_single_board == '2:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-time-1400:
      - description: Compiling, flashing and monitoring timer unit test.
        command: make test_time_single
        query: time_single_board == '2:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-analog-io-pwm-1400:
      - description: Compiling, flashing and monitoring timer unit test.
        command: make test_analogio_pwm
        query: analogio_pwm_single_board == '2:1'
        working_dir: extras/arduino-core-tests

    unit-test-analog-io-adc-1400:
      - description: Compiling, flashing and monitoring ADC unit test.
        command: make test_analogio_adc
        query: analogio_adc_single_board == '2:1'
        working_dir: extras/arduino-core-tests

    unit-test-iic-pingpong-1400:
      - description: Compiling, flashing and monitoring I2C pingpong slave unit test.
        command: make test_wire_connected2_slavepingpong
        query: iic_ping_pong_multiple_boards_slave == '2:1'
        working_dir: extras/arduino-core-tests

      - description: Compiling, flashing and monitoring I2C pingpong master unit test.
        command: make test_wire_connected2_masterpingpong
        query: iic_ping_pong_multiple_boards_master == '2:1'
        working_dir: extras/arduino-core-tests

    unit-test-pulse-1400:     
      - description: Compiling, flashing and monitoring pulse board1 unit test.
        command: make test_pulse_board1
        query: adv_io_pulse_board1  == '2:1'
        working_dir: extras/arduino-core-tests

      - description: Compiling, flashing and monitoring pulse board2 unit test.
        command: make test_pulse_board2
        query: adv_io_pulse_board2  == '2:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-spi-single-pingpong-1400:
      - description: Compiling, flashing and monitoring SPI pingpong single_board.
        command: make test_spi_connected1_loopback
        query: spi_ping_pong_single_board == '2:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-onewire-DS18x20-1400:
      - description: Compiling, flashing and monitoring OneWire sensor DS18B20 data.
        command: make test_onewire_DS18x20 
        query: onewire_DS18x20_board == '2:1'
        working_dir: extras/arduino-core-tests

######################### XMC 1100  ##############################################
    unit-test-digital-io-1100:
      - description: Compiling, flashing and monitoring digital IO unit test.
        command: make test_digitalio_single ENABLE_SYNC=0
        query: digital_io_single_board == '3:1'
        working_dir: extras/arduino-core-tests
        options:
          SEND_JOB_START_TOKEN: False
    
    unit-test-tone-1100:
      - description: Compiling, flashing and monitoring tone, no-tone unit test.
        command: make test_tone_no_tone
        query: tone_no_tone_single_board == '3:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-interrupts-1100:
      - description: Compiling, flashing and monitoring Interrupts unit test.
        command: make test_interrupts_single
        query: interrupts_single_board == '3:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-random-1100:
      - description: Compiling, flashing and monitoring random unit test.
        command: make test_random
        query: random_single_board == '3:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-time-1100:
      - description: Compiling, flashing and monitoring timer unit test.
        command: make test_time_single
        query: time_single_board == '3:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-analog-io-pwm-1100:
      - description: Compiling, flashing and monitoring timer unit test.
        command: make test_analogio_pwm
        query: analogio_pwm_single_board == '3:1'
        working_dir: extras/arduino-core-tests

    unit-test-analog-io-adc-1100:
      - description: Compiling, flashing and monitoring ADC unit test.
        command: make test_analogio_adc
        query: analogio_adc_single_board == '3:1'
        working_dir: extras/arduino-core-tests

    unit-test-iic-pingpong-1100:
      - description: Compiling, flashing and monitoring I2C pingpong slave unit test.
        command: make test_wire_connected2_slavepingpong
        query: iic_ping_pong_multiple_boards_slave == '3:1'
        working_dir: extras/arduino-core-tests

      - description: Compiling, flashing and monitoring I2C pingpong master unit test.
        command: make test_wire_connected2_masterpingpong
        query: iic_ping_pong_multiple_boards_master == '3:1'
        working_dir: extras/arduino-core-tests

    unit-test-pulse-1100:     
      - description: Compiling, flashing and monitoring pulse board1 unit test.
        command: make test_pulse_board1
        query: adv_io_pulse_board1  == '3:1'
        working_dir: extras/arduino-core-tests

      - description: Compiling, flashing and monitoring pulse board2 unit test.
        command: make test_pulse_board2
        query: adv_io_pulse_board2  == '3:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-spi-single-pingpong-1100:
      - description: Compiling, flashing and monitoring SPI pingpong single_board.
        command: make test_spi_connected1_loopback
        query: spi_ping_pong_single_board == '3:1'
        working_dir: extras/arduino-core-tests

    unit-test-onewire-DS18x20-1100:
      - description: Compiling, flashing and monitoring OneWire sensor DS18B20 data.
        command: make test_onewire_DS18x20 
        query: onewire_DS18x20_board == '3:1'
        working_dir: extras/arduino-core-tests 
############################### XMC 1300 ####################################################
    unit-test-digital-io-1300:
      - description: Compiling, flashing and monitoring digital IO unit test.
        command: make test_digitalio_single ENABLE_SYNC=0
        query: digital_io_single_board == '4:1'
        working_dir: extras/arduino-core-tests
        options:
          SEND_JOB_START_TOKEN: False
    
    unit-test-tone-1300:
      - description: Compiling, flashing and monitoring tone, no-tone unit test.
        command: make test_tone_no_tone
        query: tone_no_tone_single_board == '4:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-interrupts-1300:
      - description: Compiling, flashing and monitoring Interrupts unit test.
        command: make test_interrupts_single
        query: interrupts_single_board == '4:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-random-1300:
      - description: Compiling, flashing and monitoring random unit test.
        command: make test_random
        query: random_single_board == '4:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-time-1300:
      - description: Compiling, flashing and monitoring timer unit test.
        command: make test_time_single
        query: time_single_board == '4:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-analog-io-pwm-1300:
      - description: Compiling, flashing and monitoring timer unit test.
        command: make test_analogio_pwm
        query: analogio_pwm_single_board == '4:1'
        working_dir: extras/arduino-core-tests

    unit-test-analog-io-adc-1300:
      - description: Compiling, flashing and monitoring ADC unit test.
        command: make test_analogio_adc
        query: analogio_adc_single_board == '4:1'
        working_dir: extras/arduino-core-tests

    unit-test-iic-pingpong-1300:
      - description: Compiling, flashing and monitoring I2C pingpong slave unit test.
        command: make test_wire_connected2_slavepingpong
        query: iic_ping_pong_multiple_boards_slave == '4:1'
        working_dir: extras/arduino-core-tests

      - description: Compiling, flashing and monitoring I2C pingpong master unit test.
        command: make test_wire_connected2_masterpingpong
        query: iic_ping_pong_multiple_boards_master == '4:1'
        working_dir: extras/arduino-core-tests

    unit-test-pulse-1300:     
      - description: Compiling, flashing and monitoring pulse board1 unit test.
        command: make test_pulse_board1
        query: adv_io_pulse_board1  == '4:1'
        working_dir: extras/arduino-core-tests

      - description: Compiling, flashing and monitoring pulse board2 unit test.
        command: make test_pulse_board2
        query: adv_io_pulse_board2  == '4:1'
        working_dir: extras/arduino-core-tests
    
    unit-test-spi-single-pingpong-1300:
      - description: Compiling, flashing and monitoring SPI pingpong single_board.
        command: make test_spi_connected1_loopback
        query: spi_ping_pong_single_board == '4:1'
        working_dir: extras/arduino-core-tests

    # unit-test-onewire-DS18x20-1100:
    #   - description: Compiling, flashing and monitoring OneWire sensor DS18B20 data.
    #     command: make test_onewire_DS18x20 
    #     query: onewire_DS18x20_board == '4:1'
    #     working_dir: extras/arduino-core-tests 
################################################################################################
    unit-test-can-1400-2go:
      - description: Compiling, flashing and monitoring CAN unit test.
        command: make test_can_single  
        query: can_single_board == '1:1'
        working_dir: extras/arduino-core-tests

    
   